@font-face {
    font-family: "Norse-Bold";
    src: url("Norse-Bold.otf");
}

:root{
    --main-bg-color: #fceded;
    --main-text-color: #333;
    --main-border-color: #E5E7EB;
    --main-border-radius: 5px;
    --main-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    --main-transition: all 0.3s ease;
    --default-font: "Poppins", sans-serif;
    --content-padding: 4rem;
}

*{
    box-sizing: border-box;
    font-family: var(--default-font);
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    background: var(--main-bg-color);
}

.container > .bg-container {
    position: relative;
    height: 100vh;
    width: 60vw;
    overflow: hidden;
}

.container > .bg-container > .bg-img{
    height: 100vh;
    z-index: 0;
}

.container > .bg-container > .fg-container{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100%;
    top: 10rem;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container > .bg-container > .fg-container > .fg-img{
    width: 5rem;
    background:transparent;
}

.container > .bg-container > .fg-container > h1{
    font-size: 5rem;
    font-family: "Norse-Bold", sans-serif;
    color: white;
}

.container > .bg-container > footer{
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > .bg-container > footer > h6, 
.container > .bg-container > footer > h6 > a{
    color: white;
    font-family: "Poppins Thin", sans-serif;
}

.container > .content {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > .content > .quote{
    padding: 0rem var(--content-padding);
    width: 100%;
}

.container > .content > fieldset{
    padding: 2rem var(--content-padding);
    width: 100%;
}

.container > .content > .quote > blockquote{
    font-size: 1.4rem;
}

.container > .content > .quote > blockquote > *{
    padding-top: 1rem;
}

.container > .content > fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #fdf2f2;
    box-shadow: var(--main-box-shadow);
    transition: var(--main-transition);
}

.container > .content > fieldset > legend{
    position: relative;
    top: 2.5rem;
    left: -0.5rem;
    padding: 0.5rem;
}

.container > .content > fieldset > form{
    display: flex;
    flex-wrap: wrap;
}

.container > .content > fieldset > form > .input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 20rem;
    margin-right: 5rem;
    margin-top: 1rem;
    text-transform: capitalize;
}

.container > .content > fieldset > form > .input-group > label{
    text-transform: uppercase;
}

.container > .content > fieldset > form > .input-group > input{
    width: 100%;
    border: solid 1px var(--main-border-color);
    background-color: var(--main-bg-color);
    border-radius: var(--main-border-radius);
    padding: 0.4rem;
}

.container > .content > .submit{
    width: 100%;
    padding: 1.5rem var(--content-padding);
}

.container > .content > .submit > button{
    width: 14rem;
    padding: 0.8rem;
    font-size: 0.9rem;
    border: none;
    background-color: #596D48;
    color: white;
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-box-shadow);
    cursor: pointer;
    transition: var(--main-transition);
}

.container > .content > .submit > h6{
    font-family: "Poppins Regular", sans-serif;
    font-size: 0.9rem;
    padding-top: 1.5rem;
}

.container > .content > .submit > h6 > a{
    color: #596D48;
    text-decoration: none;
}